* {
  box-sizing: border-box;
}

body {
  font-family: Nunito Sans, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  padding: 0 5px;
}

.fa {
  color: #ff9f43;
  font-size: 26px !important;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 25px 15px;
  flex-wrap: wrap;
  margin: 15px;
  max-width: 1250px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 415px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover {
  transform: translate(0px, -5px);
  transition: 0.4s;
}

.fav-button {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.fav-button i {
  color: #c00;
  font-size: 20px !important;
}

.fav-button i:hover {
  color: rgb(255, 0, 0);
}

.product-image {
  width: 100%;
  height: 165px;
  object-fit: contain;
  background-color: #ccc;
  border-bottom: 1px solid rgba(104, 104, 104, 60%);
}

.product-data {
  height: 100%;
  width: 100%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-stock {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

.product-title {
  text-align: center;
  font-size: 24px;
  margin: 5px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  text-align: center;
  margin: 0;
  color: #686868;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-price {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product-price h5 {
  margin: 0;
  color: #333;
  font-size: 22px;
}

.product-price small {
  color: #00a650;
  font-size: 14px;
}

.buy-button {
  background-color: #000;
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
}

@media (max-width: 325px) {
  .card {
    width: 100%;
  }
}
